.topHeader{
    height: 100px;
    width: auto;
    background-color: #263238;
    color:white;
}

.bg-color{
    background-color: #fffafa;
}
 .display-table{
     background-color: #fffafa;
    margin: 20px;
 }   

 .card-measure{
    width:280px;
    border: 5px solid gold;
 }

 .card-bg{
    background-color: #FCAE64;
 }